		<div class="col-md-12" style="text-align:center;width:100%;padding-bottom:20px;font-size:12px;">
			<hr>中国.山东.青岛 &copy; 2016-2026<br>
			<div style="border-top:1px solid #ccc;width:250px;margin:5px auto;padding-top:5px;">本web站点完全使用nginx+lua+redis开发</div>
		</div>
	</div>
</div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?9c202a22e46ab48498983a7a2047665c";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>