<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="Author" content="Kermit">
  <meta name="Keywords" content="今天全国最热的省份,今天全国最热的城市,今天全国最冷的省份,今天全国最冷的城市,今天全国温度最适宜的省份,今天全国温度最适宜的城市,历史上每天全国最热的省份,历史上每天全国最热的城市,历史上每天全国最冷的省份,历史上每天全国最冷的城市,历史上每天最适宜的省份,历史上每天最适宜的城市">
  <meta name="Description" content="统计今天全国最热的省份,今天全国最热的城市,今天全国最冷的省份,今天全国最冷的城市,今天全国温度最适宜的省份,今天全国温度最适宜的城市,以及历史上每天全国最热的省份,历史上每天全国最热的城市,历史上每天全国最冷的省份,历史上每天全国最冷的城市,历史上每天最适宜的省份,历史上每天最适宜的城市,04007天气">
  <title><pagetitle>-04007城市温度-全国各省各城市温度之最</title>
    <link rel="stylesheet" href="/bootstrap3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap3.3/css/bootstrap-theme.min.css">
    <script src="/bootstrap3.3/js/jquery.min.js"></script>
    <script src="/bootstrap3.3/js/bootstrap.min.js"></script>
	<style type="text/css">
		.reds{color:red;font-weight:bolder;font-size:15px;}
		.column table, .column table th{text-align:center;}
		.nav-tabs li a:hover{cursor:pointer;color:red;font-weight:bolder;}
	</style>
 </head>
 <body>
<div class="container-fluid">
    <div class="row-fluid clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					04007天气-全国城市温度之最 <small>告诉你每天全国最热、最冷、最适宜的省份和城市。</small>
				</h1>
			</div>
		</div>
	</div>
	<div class="row-fluid clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li class="active_city_high">
					 <a href="http://weather.04007.cn">今日全国最热城市排行榜</a>
				</li>
				<li class="active_city_avg">
					 <a href="http://weather.04007.cn/todaycity/sortkey/avg">今日全国最舒适城市排行榜</a>
				</li>
				<li class="active_province_high">
					 <a href="http://weather.04007.cn/todayprovince">今日全国最热省份排行榜</a>
				</li>
				<li class="active_province_avg">
					 <a href="http://weather.04007.cn/todayprovince/sortkey/avg">今日全国最舒适省份排行榜</a>
				</li>
				<!--<li>
					 <a href="#">历史上每天全国最热省份排行榜</a>
				</li>
				<li>
					 <a href="#">历史上每天全国最热城市排行榜</a>
				</li>-->
			</ul>
		</div>
	</div>
	<div class="row-fluid clearfix">
		
